<div class="buttons">
  <button *ngIf="page < totalPages" (click)="nextPage()">Next</button>
  <button *ngIf="page > 1" (click)="prevPage()">Prev</button>
</div>
<div class="form">
  <input type="text" [value]="search" (change)="OnSearchChange($event)">
  <i class="fas fa-search"></i>
</div>
<div class="d-flex">
  <app-movie-cards *ngFor="let movie of movies" [movie]="movie"></app-movie-cards>
  <div *ngIf="movies.length == 0">No movies found</div>
</div>
<div class="buttons">
  <button *ngIf="page < totalPages" (click)="nextPage()">Next</button>
  <button *ngIf="page > 1" (click)="prevPage()">Prev</button>
</div>
