<ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-2">
  <li class="flex-1">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="text-center block border border-blue-500 rounded py-2 px-4 bg-blue-500 hover:bg-blue-700 text-white">Home</a>
  </li>
  <li class="flex-1">
    <a routerLink="/watched" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="text-center block border border-blue-500 rounded py-2 px-4 bg-blue-500 hover:bg-blue-700 text-white">Watched</a>
  </li>
  <li class="flex-1">
    <a routerLink="/aboutMe" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="text-center block border border-blue-500 rounded py-2 px-4 bg-blue-500 hover:bg-blue-700 text-white">Menu</a>
  </li>
</ul>
