<ul class="grid grid-cols-1 xs:grid-cols-3 gap-4 mb-4">
  <li class="flex-1">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="btn-primary">Home</a>
  </li>
  <li class="flex-1">
    <a routerLink="/watched" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="btn-primary">Watched</a>
  </li>
  <li class="flex-1">
    <a routerLink="/aboutMe" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="btn-primary">Menu</a>
  </li>
</ul>
