*{
  margin: 0;
  padding: 0;
}

a{
  color: white;
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}

// scrollbar
/* width */
::-webkit-scrollbar {
  width: 5px;
  transform: translateX(-10px);
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 50rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ddd;
}
