<form #form="ngForm" (ngSubmit)="onSearch(form)" class="bg-blue-400 rounded-md p-4">
  <div>
    <input type="text" id="title" name="title" ngModel class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 " required placeholder="Title">
  </div>
  <button type="submit" class="btn-primary w-full mt-4">Submit</button>
</form>
<div *ngIf="movies">
  <div>{{ movies.totalResults }} movies found with "{{searchTitle}}" in the title</div>
  <app-movies-page [numberOfMovies]="movies.totalResults"></app-movies-page>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4 justify-items-center">
    <app-movie *ngFor="let movie of movies.Search" [movie]="movie" class="w-full"></app-movie>
  </div>
  <app-movies-page [numberOfMovies]="movies.totalResults"></app-movies-page>
</div>
