<div class="card">
  <img [src]="movie.Poster" [alt]="movie.imdbID"/>
  <div class="info">
    <div class="name"><span>{{ movie.Title}}</span></div>
    <div class="year">{{ movie.Year }}</div>
    <button *ngIf="inWatchedList" (click)="addReviewForm()" class="edit_button"><i class="fas fa-pen"></i></button>
    <div *ngIf="inWatchedList">Score: {{ score }}</div>
    <form *ngIf="edit">
      <input type="range" min="0" max="10" step="0.5" [value]="movie.score" (change)="onRangeChange($event)">
    </form>
  </div>
  <button *ngIf="!inWatchList" (click)="addMovie(movie)" class="add_button"><i class="fas fa-plus"></i></button>
  <button *ngIf="inWatchList" (click)="removeMovie(movie.id)" class="remove_button"><i class="fas fa-trash"></i></button>
  <button *ngIf="inWatchList" (click)="toggleWatched(movie)" class="watch_button" [ngClass]="{'bg-green':movie.watched}"><i class="fas fa-eye"></i></button>
</div>
